*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$color-brand: #0482f9;
$color-main: #1c1c1c;
$color-footer: #303030;
$color-text-primary: #ffffff;
$color-text-secondary: #797979;

.container{
    width: 1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-4{
  width: calc(100% / 3);
}